.viewContainer{
  padding: 10px;
  background-color: #FFF;
}
.viewTitle{
   border-bottom: 2px solid #D32A63;
}
.viewTitle .viewNum{
    border-radius: 80% 100% 90% 20%;
    color: #FFFFFF;
    display: block;
    float: left;
    line-height: 20px;
    margin-right: 8px;
    max-width: 100%;
    padding: 4px 10px;
    word-wrap: break-word !important;
    background-color: #D32A63;
    font-family: '微软雅黑';
    font-weight: bold;
    font-size: 16px;
}
.viewTitle .viewTxt{
    margin-top: 1px;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    max-width: 100%;
    color: rgb(211, 42, 99);
    min-height: 32px;
    text-align: justify;
    font-family: '微软雅黑';
}
.viewContent{
    font-size: 16px;
    font-family: '微软雅黑';
    margin-top: 25px;
    margin-bottom:25px;
}
.viewContent view{
    text-align: left;
}
.viewContent .spanStrong{
    font-weight: bold;
}
.viewContent .viewRemarks{
    background-image: url('http://image3.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvaWFucTAzVVVXR21MY05hRWNsaWFvMTk3S05yWWx5ZGliWWM0Wmc2ZkRyaWI5bkpRc1pYOXJrMG9pYVhabnhHNnNXRnQ0cFVlSXFmaWFCZG54TnprUHZrOE5ybFEvMD93eF9mbXQ9cG5n');
    margin-top:10px;
    line-height:30px;
    font-size: 15px;
}
.viewContent .viewRemarks .spanColor{
    color: #C00000;
}
.viewImages{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.viewImages image{
    width: 127px;
    margin-right: 5px;
}
.viewImages .viewBGColor{
    background-color: #CCCCCC;
    padding: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    width:334px;
    margin-left:auto;
    margin-right:auto;
}
.viewImages .viewBGColor .imgSmall{
    width: 105px;
    margin-right: 5px;
}
.viewEnd{
    margin-top: 15px;
    margin-bottom: 15px;
}
.viewEnd image{
    width: 100%;
}
.viewFooter{
    text-align: right;
}
.imgCode{
    width:97% !important;
}