<!--list.wxml-->
<view class="containerList">
<form report-submit="true" bindsubmit="formSubmitByFormId">
  <button formType="submit" class='btnSendFormId'>
  <view wx:if="{{imgSrc != ''}}" class="viewDoc">
    <view class="widgets__info widgets__info_show" style="margin-left:0px; margin-right:0px;">
        <view class="viewTitle" >{{item.key}}</view>
        <icon class="iconClose" type="clear" size="24" bindtap="iconClose" color="white"/>
    </view>
    <image mode="aspectFit" src="{{imgSrc}}"></image>
  </view>
  <scroll-view class="scroll-view" bindscrolltolower="">
      <view wx:for="{{initialListData}}" wx:key="{{index}}" class="viewGroupItem">
        <view class="widgets__info {{initialFlag ? 'widgets__info_show' : ''}}" data-flag="initial" bindtap="selectGroupItem">
            <view class="viewTitle" >{{item.key}}</view>
            <image class="widgets__info-img" src="/image/arrowright.png" mode="aspectFill" />
        </view>
        <view wx:if="{{item.items.length > 0}}" hidden="{{!initialFlag}}" class="viewGroup">
            <view class="viewItem" style="height:89px;" wx:for="{{item.items}}" wx:key="{{index}}" hidden="{{!initialFlag}}" data-reportid="{{item.reportId}}" data-type="initial" data-docURL="{{item.docURL}}" data-hasRead="{{item.hasRead}}" bindtap="openDetails">
                <image class="imgHeader" src="{{item.schoolLogo}}"></image>
                
                <View style="flex-direction: row;float:right;width:80%;height: 89px;margin-top:0px;margin-bottom:10px;font-size:12px;">
                    <View style="height:20px;margin-top:-30px;">
                        {{"学校：" + ((item.schoolName == undefined)?"":item.schoolName)}}
                    </View>
                    <View style="height:20px;">
                        {{"学年：" + ((item.schoolYear == undefined)?"":item.schoolYear)}}
                    </View>
                    <View style="height:20px;">
                        {{"年级：" + ((item.grade == undefined)?"":item.grade)}}
                    </View>
                    <View style="height:20px;">
                        {{"报告日期：" + ((item.reportDate == undefined)?"":item.reportDate)}}
                    </View>
                    <View class="viewStatus">
                        <View wx:if="{{item.status == 'IN_THE_TRANSLATION'}}" class="viewTextBlack">翻译中</View>
                        <View wx:if="{{item.docURL != undefined && item.status != 'IN_THE_TRANSLATION' && item.hasRead == false}}" class="viewFlagRead"></View>
                        <button type="primary" form-type='submit' size="mini" wx:if="{{item.status != 'IN_THE_TRANSLATION'}}" data-hasRead="{{item.hasRead}}" data-reportType="initial" data-reportId="{{item.reportId}}" data-url="{{item.docURL}}" catchtap="openTranslateDocument" class="{{(item.docURL == undefined || item.docURL== '')?'btnGray':'viewTextBlue'}}" hover-class="{{(item.docURL == undefined || item.docURL== '')?'btnGrayHover':'viewTextBlueHover'}}" style="top: {{downloadMarginTop}}">中文报告</button>
                    </View>
                </View>
            </view>
        </view>
        <view class="viewGroup" hidden="{{!initialFlag}}" wx:if="{{item.items.length <= 0}}">
            <view class="viewEmptyData">
                对不起，没有相关数据。
            </view>
        </view>
      </view>

      <view wx:for="{{residentialListData}}" wx:key="{{index}}" class="viewGroupItem">
        <view class="widgets__info {{residentialFlag ? 'widgets__info_show' : ''}}" data-flag="residential" bindtap="selectGroupItem">
            <view class="viewTitle" >{{item.key}}</view>
            <image class="widgets__info-img" src="/image/arrowright.png" mode="aspectFill" />
        </view>
        <view wx:if="{{item.items.length > 0}}" hidden="{{!residentialFlag}}" class="viewGroup">
            <view class="viewItem" style="height:89px;" wx:for="{{item.items}}" wx:key="{{index}}" hidden="{{!residentialFlag}}" data-reportid="{{item.reportId}}" data-type="residential" data-docURL="{{item.docURL}}" data-hasRead="{{item.hasRead}}" bindtap="openDetails">
                <image class="imgHeader" src="{{item.schoolLogo}}"></image>
                
                <View style="flex-direction: row;float:right;width:80%;height: 89px;margin-top:0px;margin-bottom:10px;font-size:12px;">
                    <View style="height:20px;margin-top:-30px;">
                        {{"学校：" + ((item.schoolName == undefined)?"":item.schoolName)}}
                    </View>
                    <View style="height:20px;">
                        {{"学年：" + ((item.schoolYear == undefined)?"":item.schoolYear)}}
                    </View>
                    <View style="height:20px;" wx:if="{{false}}">
                        {{"月份：" + ((item.month == undefined)?"":item.month)}}
                    </View>
                    <View style="height:20px;">
                        {{"年级：" + ((item.grade == undefined)?"":item.grade)}}
                    </View>
                    <View style="height:20px;">
                        {{"报告日期：" + ((item.reportDate == undefined)?"":item.reportDate)}}
                    </View>
                    <View class="viewStatus" >
                        <View wx:if="{{item.status == 'IN_THE_TRANSLATION'}}" class="viewTextBlack">翻译中</View>
                        <View wx:if="{{item.docURL != undefined && item.status != 'IN_THE_TRANSLATION' && item.hasRead == false}}" class="viewFlagRead"></View>
                        <button type="primary" form-type='submit' size="mini" wx:if="{{item.status != 'IN_THE_TRANSLATION'}}" data-hasRead="{{item.hasRead}}" data-reportType="residential" data-reportId="{{item.reportId}}" data-url="{{item.docURL}}" catchtap="openTranslateDocument" class="{{(item.docURL == undefined || item.docURL== '')?'btnGray':'viewTextBlue'}}" hover-class="{{(item.docURL == undefined || item.docURL== '')?'btnGrayHover':'viewTextBlueHover'}}" style="top: {{downloadMarginTop}}">中文报告</button>
                    </View>
                </View>
            </view>
        </view>
        <view class="viewGroup" hidden="{{!residentialFlag}}" wx:if="{{item.items.length <= 0}}">
            <view class="viewEmptyData">
                对不起，没有相关数据。
            </view>
        </view>
      </view>

      <view wx:for="{{academicListData}}" wx:key="{{index}}" class="viewGroupItem">
        <view class="widgets__info {{academicFlag ? 'widgets__info_show' : ''}}" data-flag="academic" bindtap="selectGroupItem">
            <view class="viewTitle" >{{item.key}}</view>
            <image class="widgets__info-img" src="/image/arrowright.png" mode="aspectFill" />
        </view>

        <view wx:if="{{item.items.length > 0}}" hidden="{{!academicFlag}}" class="viewGroup">
            <view class="viewItem" style="height:89px;" wx:for="{{item.items}}" wx:key="{{index}}" hidden="{{!academicFlag}}" data-reportid="{{item.reportId}}" data-type="academic" data-docURL="{{item.docURL}}" data-hasReadOriginalDoc="{{item.hasReadOriginalDoc}}" data-hasReadTranslatedDoc="{{item.hasReadTranslatedDoc}}" data-originalDocId="{{item.originalDocId}}" data-translatedDocId="{{item.translatedDocId}}" bindtap="openDetails">
                <image class="imgHeader" src="{{item.schoolLogo}}"></image>
                
                <View style="flex-direction: row;float:right;width:80%;height: 89px;margin-top:0px;margin-bottom:10px;font-size:12px;">
                    <View style="height:20px;margin-top:-30px;">
                        {{"学校：" + ((item.schoolName == undefined)?"":item.schoolName)}}
                    </View>
                    <View style="height:20px;">
                        {{"学年：" + ((item.schoolYear == undefined)?"":item.schoolYear)}}
                    </View>
                    <View style="height:20px;">
                        {{"年级：" + ((item.grade == undefined)?"":item.grade)}}
                    </View>
                    <View style="height:20px;">
                        {{"报告日期：" + ((item.reportDate == undefined)?"":item.reportDate)}}
                    </View>
                    <View class="viewStatus">
                        <View wx:if="{{item.status == 'IN_THE_TRANSLATION'}}" class="viewTextBlack">翻译中</View>
                        <View wx:if="{{item.translatedDocUrl != undefined && item.status != 'IN_THE_TRANSLATION' && item.hasReadTranslatedDoc == false}}" class="viewFlagRead" style="margin-top:26px;"></View>

                        <button type="primary" form-type='submit' size="mini" wx:if="{{item.status != 'IN_THE_TRANSLATION'}}" data-hasReadTranslatedDoc="{{item.hasReadTranslatedDoc}}" data-reportType="academic" data-reportId="{{item.reportId}}" data-docId="{{item.translatedDocId}}" data-url="{{item.translatedDocUrl}}" catchtap="openTranslateDocument" class="{{(item.translatedDocUrl == undefined || item.translatedDocUrl== '')?'btnGray':'viewTextBlue'}}" hover-class="{{(item.translatedDocUrl == undefined || item.translatedDocUrl== '')?'btnGrayHover':'viewTextBlueHover'}}" style="top: {{downloadMarginTop}}">中文报告</button>
                    </View>
                </View>
            </view>
        </view>
        <view class="viewGroup" hidden="{{!academicFlag}}" wx:if="{{item.items.length <= 0}}">
            <view class="viewEmptyData">
                对不起，没有相关数据。
            </view>
        </view>
      </view>

      <view wx:for="{{eslListData}}" wx:key="{{index}}" class="viewGroupItem">
        <view class="widgets__info {{eslFlag ? 'widgets__info_show' : ''}}" data-flag="esl" bindtap="selectGroupItem">
            <view class="viewTitle" >{{item.key}}</view>
            <image class="widgets__info-img" src="/image/arrowright.png" mode="aspectFill" />
        </view>

        <view wx:if="{{item.items.length > 0}}" hidden="{{!eslFlag}}" class="viewGroup">
            <view class="viewItem" style="height:89px;" wx:for="{{item.items}}" wx:key="{{index}}" hidden="{{!eslFlag}}" data-reportid="{{item.reportId}}" data-type="esl" data-docURL="{{item.docURL}}" data-hasRead="{{item.hasRead}}" bindtap="openDetails">
                <image class="imgHeader" src="{{item.schoolLogo}}"></image>
                
                <View style="flex-direction: row;float:right;width:80%;height: 89px;margin-top:0px;margin-bottom:10px;font-size:12px;">
                    <View style="height:20px;margin-top:-30px;">
                        {{"学校：" + ((item.schoolName == undefined)?"":item.schoolName)}}
                    </View>
                    <View style="height:20px;">
                        {{"季度：" + ((item.quarter == undefined)?"":item.quarter)}}
                    </View>
                    <View style="height:20px;">
                        
                    </View>
                    <View style="height:20px;">
                        {{"报告日期：" + ((item.reportDate == undefined)?"":item.reportDate)}}
                    </View>
                    <View class="viewStatus">
                        <View wx:if="{{item.status == 'IN_THE_TRANSLATION'}}" class="viewTextBlack">翻译中</View>
                        <View wx:if="{{item.docURL != undefined && item.status != 'IN_THE_TRANSLATION' && item.hasRead == false}}" class="viewFlagRead"></View>
                        <button type="primary" form-type='submit' size="mini" wx:if="{{item.status != 'IN_THE_TRANSLATION'}}" data-hasRead="{{item.hasRead}}" data-reportType="esl" data-reportId="{{item.reportId}}" data-url="{{item.docURL}}" catchtap="openTranslateDocument" class="{{(item.docURL == undefined || item.docURL== '')?'btnGray':'viewTextBlue'}}" hover-class="{{(item.docURL == undefined || item.docURL== '')?'btnGrayHover':'viewTextBlueHover'}}" style="top: {{downloadMarginTop}}">中文报告</button>
                    </View>
                </View>
            </view>
        </view>
        <view class="viewGroup" hidden="{{!eslFlag}}" wx:if="{{item.items.length <= 0}}">
            <view class="viewEmptyData">
                对不起，没有相关数据。
            </view>
        </view>
      </view>
  </scroll-view>
  <view class="viewLoading" style="display:{{viewDisplay}}; height:{{viewHeight}}">
      <view class="viewCenter" style="margin-top:{{marginTop}}">
          <image src="/image/loading.gif"></image>
          <view class="viewText">{{txtView}}</view>
      </view>
  </view>
  <view class="viewBottom">
    剑桥美国高中联盟中国区服务电话：<span bindtap="makePhoneCall" style="padding-top:10px;padding-bottom:10px;">4006008616</span>
  </view>
  </button>
</form>
</view>
