/**index.wxss**/
view{
  overflow: initial;
}
.container {
    height: 100%;
    width: 100%;
    padding: initial;
}
.scroll-view {
    width: 100%;
}
.viewGroupItem{
    margin-bottom: 10px;
    margin: 5px;
}
.viewItem:nth-child(odd) {
    background-color: #FFF;
    border: 1px solid lightgray;
    height:84px;
    margin:7px;
    border-radius:5px;
    margin-top:10px;
    overflow: hidden;
}
.viewItem:nth-child(even) {
    background-color: #F9F9F9;
    border: 1px solid lightgray;
    height:84px;
    margin:7px;
    border-radius:5px;
    margin-top:10px;
    overflow: hidden;
}
.viewItem image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top:4px;
    margin-left:5px;
    float: left;
    margin-right:4px;
}
.viewSubItem{
    flex-direction: row;
    float:left;
    height: 52px;
    margin-top:0px;
    /* margin-bottom:10px; */
    font-size:12px;
}
.viewSubItem .viewName{
    height:20px;
    padding-top:8px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.viewStuFooter{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.viewStuFooter .viewPreview{
    flex:1; 
    background-color: #E36A6C;
    text-align:center;
    line-height:32px;
    font-size:13px;
    color:white;
}
.viewStuFooter .viewPreviewHover{
    flex:1; 
    background-color: #d45a5c;
    text-align:center;
    line-height:32px;
    font-size:13px;
    color: white;
}
.viewStuFooter .viewReport{
    flex:1; 
    background-color: #3d8ec1;
    text-align:center;
    line-height:32px;
    font-size:13px;
    color:white;
}
.viewStuFooter .viewReportHover{
    flex:1; 
    background-color: #2b87c1;
    text-align:center;
    line-height:32px;
    font-size:13px;
    color: white;
}
.viewBottom{
    background-color: black;
    color: white;
    font-size: 12px;
    height: 23px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    position: fixed;
    bottom: 0px;
    box-shadow: 0 0 5px #676360;
}
.viewEmptyData{
    font-size: 14px;
    text-align: center;
    line-height: 60px;
    margin: 10px;
    border:1px dashed #E2E2E2;
    background-color:#FFF;
}
.viewEmptyData image{
    width:24px;
    height:24px;
    margin-right:7px;
    vertical-align:middle;
}
.viewGroup{
    margin-left: 0px;
    margin-right: 0px;
}
.addView{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.addView .addBindStudent{
    width: 94%;
    height: 35px;
    padding-top: 1px;
    font-size:14px !important;
}