.container {
    height: 100%;
    width: 100%;
    padding: initial;
}
.scroll-view {
    width: 100%;
    margin-bottom: 20px;
}
.viewGroupItem{
    margin-bottom: 10px;
    margin: 5px;
}
.viewItem:nth-child(odd) {
    background-color: #FFF;
    border: 1px solid lightgray;
    margin-top:2px;
    margin-bottom:2px;
    overflow:hidden;
    font-size:12px;
    padding-left: 10px;
}
.viewItem:nth-child(even) {
    background-color: #F9F9F9;
    border: 1px solid lightgray;
    margin-top:2px;
    margin-bottom:2px;
    overflow:hidden;
    font-size:12px;
    padding-left: 10px;
}
.viewItem .viewText{
    height:20px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
    margin-top:5px;
    padding-top:2px;
}
.viewBottom{
    background-color: black;
    color: white;
    font-size: 12px;
    height: 23px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    position: fixed;
    bottom: 0px;
    box-shadow: 0 0 5px #676360;
}
.viewEmptyData{
    font-size: 14px;
    text-align: center;
    line-height: 60px;
    margin: 10px;
    border:1px dashed #E2E2E2;
    background-color:#FFF;
}
.viewEmptyData image{
    width:24px;
    height:24px;
    margin-right:7px;
    vertical-align:middle;
}
.viewPullUp{
    font-size: 12px;
    text-align: center;
    margin:10px;
    margin-bottom: 50px;
}
.viewPullUp icon{
    vertical-align:middle;
    margin-right:7px;
}
.viewGroup{
    margin-left: 0px;
    margin-right: 0px;
}
.addView{
    position: fixed;
    bottom: 35px;
    right: 10px;
}
.addView image{
    width: 40px;
    height: 40px;
}
.imgPicUrl{
    width:62px;
    height:65px;
    float:right;
    margin-top:-55px;
    right:18px;
    margin-right:3px;
}
.btnDelete{
    line-height:22px !important;
    padding:0 10px !important;
    top:0px;
    font-size:12px !important;
}
/*评分功能*/
.scoreView{
  position: fixed;
  background-color:#fff;
  width:86%;
  border:1px solid #b9b9b9;
  text-align:center;
  padding-top:30px;
  box-shadow:0 0 10px #cacaca;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.viewMasked{
  width:100%;
  height:0px;
  position:fixed;
  background-color:RGBA(189,189,189,0.3);
  top: 0px;
  left: 0px;
}
.star-image{
  top: 50rpx;
  width: 50rpx;
  height: 50rpx;
  margin-right: 10px;
  src: "/image/articleDetails/normal.png";
}
.star-image-list{
  width:42rpx;
  height:42rpx;
  margin-left:3px;
  vertical-align:middle;
  margin-top:-3px;
}
.closeImage{
  width:50rpx;
  height:50rpx;
  position:absolute;
  top:2px;
  right:4px;
}
.btnSubmit{
  width:100%;
  font-size:14px;
  line-height:40px;
  background-color:#dadada;
  margin-top:22px;
}
.viewTopTriangle{
  width:0;
  height:0;
  border-top:14px solid red;
  border-right:14px solid transparent;
  float:left;
  margin-left:-10px;
  margin-top:0px;
  margin-right:-3px;
}