.viewContent{
    background-color: #F2F2F2;
}
.content{
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}
.viewItem{
    width: 100%;
    line-height: 26px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F6F6F6;
}
.viewItem:last-child{
    width: 100%;
    line-height: 26px;
    background-color: #FFFFFF;
    border-bottom: 0px;
}
.viewItem .viewTitle{
    font-size: 15px;
    margin: 10px;
    margin-right: 5px;
    color: #212121;
    display: inline-block;
    overflow:initial;
}
.viewItem image{
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}
.imgArrow{
    width: 32px !important;
    height: 28px !important;
    float:right;
    margin-top:9px !important;
}
/*底部导航*/
.viewFooter{
    display: flex;
    flex-direction: row;
    border-top: 0.5px solid #CDCDCD;
    background-color: #F7F7FA;
    height: 54px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.viewFooter .viewFlex{
    flex: 1;
    text-align: center;
}
.viewFooter .viewFlex image{
    width:28px;
    height:28px;
    margin-top:4px;
}
.viewFooter .viewFlex .viewText{
    font-size:12px;
    margin-top:-6px;
    color:#8f9295;
}
.viewBottom{
    background-color: black;
    color: white;
    font-size: 13px;
    height: 23px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    position: fixed;
    bottom: 0px;
    box-shadow: 0 0 5px #676360;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.viewUpdateNumber{
    background-color:#d05980;
    color:white;
    text-align:center;
    width: 20px;
    border-radius:50%;
    font-size:11px;
    float:right;
    line-height:18px; 
    margin-top:13px;
    padding-top: 2px;
    font-weight: bold;
}
/*实验室功能*/
.btnSendFormId{
  position: absolute;
  width: 100%;height: 0;
  overflow: visible;
  text-align: initial;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  line-height: initial;
}
.btnSendFormId::after {
    content: initial !important;
}