<!--index.wxml-->
<view class="viewContent" style="height: {{viewHeight}}">
  <form report-submit="true" bindsubmit="formSubmitByFormId">
    <button formType="submit" class='btnSendFormId'>
    <view class="content">
        <view class="viewItem" bindtap="openList" data-type="1" data-title="线上活动">
            <image src="/image/content/iconMenu/1.png"></image>
            <view class="viewTitle">线上活动</view>
            <image src="/image/arrow.png" class="imgArrow"></image>
            <view wx:if="{{updateNum[1]}}" class='viewUpdateNumber'>{{updateNum[1]}}</view>
        </view>
        <view class="viewItem" bindtap="openList" data-type="2" data-title="线下活动">
            <image src="/image/content/iconMenu/2.png"></image>
            <view class="viewTitle">线下活动</view>
            <image src="/image/arrow.png" class="imgArrow"></image>
            <view wx:if="{{updateNum[2]}}" class='viewUpdateNumber'>{{updateNum[2]}}</view>
        </view>
    </view>
    <view class="content">
        <view class="viewItem" bindtap="openList" data-type="3" data-title="剑桥快报">
            <image src="/image/content/iconMenu/3.png"></image>
            <view class="viewTitle">剑桥快报</view>
            <image src="/image/arrow.png" class="imgArrow"></image>
            <view wx:if="{{updateNum[3]}}" class='viewUpdateNumber'>{{updateNum[3]}}</view>
        </view>
    </view>
    </button>
  </form>
</view>