<view class="viewContent">
<form report-submit="true" bindsubmit="formSubmitByFormId">
    <button formType="submit" class='btnSendFormId'>
    <view class="viewItemCenter" bindtap="btnUpdateInfo">
        <image src="{{serverData.avatarUrl}}" class="imgHeader"></image>
        <view class="viewText" >{{serverData.nickName}}</view>
    </view>

    <view class="content" style="margin-top:0px;">
        <view class="viewItem" bindtap="btnMyFavorites">
            <image src="/image/setting/Favorites.png" style="margin-top:-4px;width:23px;height:23px;"></image>
            <view class="viewTitle">我的收藏</view>
            <image src="/image/arrow.png" class="imgArrow"></image>
        </view>
        <view class="viewItem" bindtap="btnHistoryUnBind" wx:if="{{false}}">
            <image src="/image/setting/unBind.png" style="margin-top:-4px;width:23px;height:23px;"></image>
            <view class="viewTitle">历史解绑记录</view>
            <image src="/image/arrow.png" class="imgArrow"></image>
        </view>
    </view>
    <view class="content">
        <view class="viewItem" bindtap="btnFeedbackList">
            <image src="/image/setting/Feedback.png" style="margin-top:-5px"></image>
            <view class="viewTitle">帮助与反馈</view>
            <image src="/image/arrow.png" class="imgArrow"></image>
            <view wx:if="{{noSeeCount > 0}}" class='viewUpdateNumber'>{{noSeeCount}}</view>
        </view>
        <button class="btnContact" open-type="contact" session-from="家长汇"> 
          <view class="viewItem">
              <image src="/image/setting/Association.png" style="margin-top:-1px"></image>
              <view class="viewTitle">在线客服（工作日 9：00 - 17：00）</view>
              <image src="/image/arrow.png" class="imgArrow"></image>
          </view>
        </button> 
    </view>
    <view class="content">
        <view class="viewItem" bindtap="gotoWebView">
            <image src="/image/setting/about.png" style="margin-top:-3px"></image>
            <view class="viewTitle">进入剑桥官网</view>
            <image src="/image/arrow.png" class="imgArrow"></image>
        </view>
        <view class="viewItem" bindtap="btnGuide">
            <image src="/image/setting/Readme.png" style="margin-top:0px"></image>
            <view class="viewTitle">用户使用指南</view>
            <image src="/image/arrow.png" class="imgArrow"></image>
        </view>
    </view>
    </button>
</form>
</view>
