<view class="container">
  <form report-submit="true" bindsubmit="unBindStudent">
    <scroll-view class="scroll-view">
      <radio-group class="radio-group" bindchange="radioChange">
        <view wx:for="{{servicesData}}" wx:key="{{index}}" class="viewGroupItem">
          <view wx:if="{{servicesData.length > 0 && isLoading == false && isError == false}}" class="viewGroup">
              <view class="viewItem">
                  <image src='/image/noSex.png'></image>
                  <View class="viewSubItem">
                      <View class="viewName" style="width: {{viewWidth}}">
                          {{"姓名：" + ((item.firstName == undefined)?"":item.firstName)+" "+((item.lastName == undefined)?"":item.lastName)}}
                      </View>
                      <View style="height:20px;">
                          {{"生日：" + ((item.dateOfBirth == undefined)?"":item.dateOfBirth)}}
                      </View>
                      <View class="viewStatus">
                          <radio value="{{item.id  + '||' + item.firstName}}" class="unBindStudent"/>
                      </View>
                  </View>
              </view>
          </view>
        </view>
      </radio-group>
      <view class="viewEmptyData" wx:if="{{servicesData.length <= 0 && isLoading == false && isError == false}}">
          还未绑定任何学生
      </view>
      <view class="viewEmptyData" wx:if="{{isLoading}}">
          <image src="/image/loading.gif"></image>加载中，请稍候...
      </view>
      <view class="viewEmptyData" wx:if="{{isError}}">
          <image src="/image/warning.png"></image>加载错误，下拉刷新...
      </view>
    </scroll-view>
    
    <view class="addView">
        <button type="warn" size="mini" class="addBindStudent" disabled="{{disable}}" formType="submit">解  绑  学  生</button>
    </view>
  </form>
  <view class="viewBottom">
    剑桥美国高中联盟中国区服务电话：<span bindtap="makePhoneCall" style="padding-top:10px;padding-bottom:10px;">4006008616</span>
  </view>
</view>
