<!--list.wxml-->
<import src="templates.wxml"/>

<view class="containerDetail">
<form report-submit="true" bindsubmit="formSubmitByFormId">
  <button formType="submit" class='btnSendFormId'>
  <view class="scroll-view">
      <image class="imgHeader" mode="widthFix" src="/image/reportHeader.png"></image>
      <template is="{{tempTypeText + '_header'}}" data="{{serverData}}"/>
      
      <template is="{{tempTypeText}}" data="{{serverData}}"/>
  </view>
  </button>
</form>
</view>
