.news-block{
    background: #fafafa;
    padding: 0px 0;
    margin-top: 0px;
}
.news-list{
    font-size:14px;
    padding: 15px 15px;
}
.news-list .text1{
   font-size:15px;
   font-weight: bold;
   color: #212121;
   margin-bottom: 10px
}
.news-list .text2{
   font-size:13px;
   color: #757575;
   line-height: 20px;
}
.news-list .text3{
   font-size:13px;
   color: #757575;
   line-height: 20px;
   margin-bottom: 10px;
}
.news-list .text4{
   font-size:13px;
   color: #757575;
   line-height: 20px;
   /*margin-left: -10px;*/
}
.news-list .text5{
   font-size:13px;
   color: #757575;
   line-height: 20px;
   /*margin-left: -10px;*/
   margin-bottom: 10px;
}