.viewContent{
    background-color: #F2F2F2;
}
.viewContent .viewItem{
    background-color: white;
    font-size: 13px;
    line-height: 46px;
    padding-left: 15px;
    border-bottom:1px solid #F6F6F6;
    padding-right: 15px;
}
.spanRight{
    float: right;
}
.viewContent .viewItemOver{
    background-color: white;
    font-size: 13px;
    line-height: 46px;
    padding-left: 15px;
    margin-bottom:20px;
    padding-right: 15px;
}
.viewContent .viewItemCenter{
    margin-top:20px;
    background-color: white;
    font-size: 13px;
    line-height: 73px;
    padding-left: 15px;
    border-bottom:1px solid #F6F6F6;
    padding-right:10px;
}
.viewContent .viewItemCenter .btnImage{
    position:initial;
    display:initial;
    margin-left:initial;
    margin-right:initial;
    padding-left:initial;
    padding-right:initial;
    box-sizing:initial;
    font-size:initial;
    text-align:initial;
    text-decoration:initial;
    line-height:initial;
    border-radius:initial;
    -webkit-tap-highlight-color:initial;
    overflow:initial;
    color:initial;
    background-color:initial;
}
.viewContent .viewItemCenter .imgHeader{
    width:60px;
    height:60px;
    border-radius:4px;
    margin-right:4px;
    margin-top:7px;
    float:right;
}

.viewContent .viewItemInput{
    background-color: white;
    font-size: 13px;
    line-height: 46px;
    padding-left: 15px;
    display: flex;
    border-bottom:1px solid #F6F6F6;
    padding-right:15px;
}
.viewContent .viewItemInputOver{
    background-color: white;
    font-size: 13px;
    line-height: 46px;
    padding-left: 15px;
    display: flex;
    border-bottom:1px solid #F6F6F6;
    padding-right:15px;
    margin-bottom:20px;
}
.viewContent .line-height{
    border-bottom: none;
}
.viewContent input{
    border:1px solid #E1E1E1;
    height:26px;
    padding-left:5px;
    min-height:auto;
    flex:1;
    margin-top:10px;
}
.viewContent .viewItemInput .radio{
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
    margin-top:-9px;
}
.viewContent .viewCenterButtom{
    width:100%;
    text-align:center;
    margin-top:20px;
}
.viewContent .viewCenterButtom .btnBack{
    margin-right: 14px;
    flex:1;
    margin-left:14px;
    line-height: 34px;
}
.viewContent .viewCenterButtom .btnUpdateInfo{
    width: 94% !important;
    line-height: 34px;
}
.viewContent .viewCenterButtom .btnUpdateInfo1{
    flex:2;
    margin-right:14px;
    line-height: 34px;
}