<view>
    <scroll-view wx:if="{{isLoading == false && isNetOff == false && originalData.length > 0}}" style='height: {{scrollHeight}}' scroll-y="true" bindscrolltolower="bindScrollToLower">
        <view class='viewItem' wx:for="{{serverData}}" wx:for-item="item" wx:key="index">
            <view class='viewTimer'>{{item.date}}</view>
            <view class='viewContent'>
                <view wx:for="{{item.items}}" wx:key="subIndex" wx:for-item="subItem" class='viewImgItem' style='width: {{imgWidth}};{{(subItem.url == undefined)?"box-shadow:none":""}}'>
                  <image src="{{(subItem.url == undefined)?'/images/imgError.png':subItem.url + '?s=HX423IX-XJSHO384-JM490MCX'}}" bindtap='openImage' data-description="{{subItem.description}}" data-img="{{(subItem.url == undefined)?'/images/imgError.png':subItem.url + '?s=HX423IX-XJSHO384-JM490MCX'}}" data-date="{{subItem.dateCreated}}" data-shareToParentTime="{{subItem.shareToParentTime}}" data-ndid="{{subItem.id}}" data-whetherShareToParent="{{subItem.whetherShareToParent}}" data-whetherSee="{{subItem.whetherSee}}">
                    <view class='viewDescription' wx:if="{{subItem.url}}" catchtap='showDescription' data-val="{{subItem.description}}" wx:if="{{subItem.description}}">{{subItem.description}}</view>
                    <view wx:if="{{!subItem.whetherSee}}" class='viewNoRead'></view>
                  </image>
                </view>
            </view>
        </view>
        <view class="viewPullUp" wx:if="{{currentPage < totalPage}}">
            <image src="/image/loading.gif"></image>上拉加载数据...
        </view>
    </scroll-view>
    <view class="viewLoadingData" wx:if="{{isLoading == false && isNetOff == false && originalData.length <= 0}}">
        没有分享图片
    </view>

    <view class="viewLoadingData" wx:if="{{isLoading == true && isNetOff == false}}" bindtap="bindRefreshData">
        <image src="/image/loading.gif"></image>加载中，请稍候...
    </view>
    <view class="viewNetOff" wx:if="{{isNetOff == true && isLoading == false}}" bindtap="bindRefreshData">
        <icon type="warn" size="23"/>加载错误，下拉刷新...
    </view>
</view>
